{%extends 'home.html'%}
{%block title%}
about our website
{%endblock%}
{%block imports%}
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Oswald:wght@200&family=Quintessential&family=Ubuntu:wght@300&display=swap" rel="stylesheet">
<style>
    .first {
        height: 10%;
        width: 50%;
        background-color: rgb(140, 202, 226);
        border: 4px solid rgba(27, 27, 27, 0.925);
        border-radius: 10%;
        margin: auto;
        font-size: 120%;
        font-family: 'Ubuntu', sans-serif
    }
    .second{
        font-size: 3em;
        margin-left: 41%;
    }

    body {
        background-color: rgb(124, 133, 161);
    }
    .demo-1 .main 
    {
        margin: 1em 0 0.5em 0;
        color: #343434;
        font-weight: normal;
        font-family: 'Ultra', sans-serif;   
        font-size: 36px;
        line-height: 42px;
        text-transform: uppercase;
        text-shadow: 0 2px white, 0 3px #777;
    }
</style>
{%endblock%}
{%block content%}
<div class="second"><u>About Website</u> </div>


    <div class="first">
        <ul>
            <p></p>
            <li>This website is built for a purpose to fullfill all your needs that you are looking for.</li>
            <li>In our day-to-day life all the people acquire some experience/knowledge in their particurlar field</li>
            <li>And this people want to share their experience</li>
            <li>On the other hand many people are also looking for someone's past experience for a particular field</li>
            <li>So,this website connect these two kind of people by providing the platform.In which they can get what they want</li>
            <li>In which they can share their experiences on the daily basis.</li>
            <li>For example-Someone is looking for a Job,but he/she is confuse about the work culture of the company from which he/she is offered.but by going through this website he/she can get experience of the employee.who has been working in that company for years.</li>
            <li>Now,lets talk about some basic features of this site,that makes you feel comfortable to use it</li>
            <li>At the right-upward corner of the home-page you can see login/sign-up buttons,where you can create a new account if you are not already a member of this site.</li>
            <li>In "Read interesting Topics" at the middle of the home-page.You can read lots of posts of your interest.</li>
            <li>"post Your own" will lead you through the page where you can post your own experiences</li>
            <li>You can see the trending topics also at the bottom of the homepage</li>
            <li>Site also have like and comment features in which you can like someone's post and can commment also if you want</li>
            <li>You can also go through contact us page to contact the developer of this site.</li>
        </ul>
    </div>
{%endblock%}