{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{%block title%}ExpMan{%endblock%}</title>
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" />
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous"> -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="{%static 'css/navbar.css'%}" type="text/css">
    <link rel="stylesheet" href="{%static 'css/sidebar.css'%}" type="text/css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    {%block imports%}{%endblock%}
</head>
<body>
    <div class="marginate">
      <nav class="navbar navbar-expand-lg navbar-light bg-primary">
        <!-- navbar-dark->light text bg-dark->dark background -->
        <a class="navbar-brand custom" href="/">
            <span class="navbar-toggler-icon" id="menu-toggle" type="link"></span>&emsp;<b class="bigsize">ExpMan</b></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!-- <a href="#" class="btn btn-success" id="menu-toggle">Toggle menu</a> -->
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav"></ul>
        </div>
        {%if user.is_authenticated%}
                <div class="navbar-nav">
                  <a class="nav-item nav-link navbar-brand" href="/profile">Profile</a>
                </div>
        {%else%}
                <div class="navbar-nav">
                  <a class="nav-item nav-link" href="/signup">Sign up/Register</a>
                  <a class="nav-item nav-link" href="/login">Login</a>
                </div>
        {%endif%}
    </nav>
    <div id="wrapper">
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li><a href="/posts">Posts</a></li>
                <li><a href="/saved">Saved</a></li>
                <!-- <li><a href="#">Your Posts</a></li> -->
                <li class="change"><a href="#">Your Posts<i class="fa fa-caret-down"></i></a>
                </li>
                <ul class="remove">
                    {%for post in posts%}
                    <li><a href={{post.id}}>{{post.title}}</a></li>
                    {%endfor%}
                </ul>
                <li><a href="#">Contact form</a></li>
                <!-- <li class="change"><a href="#">Dropdown2<i class="fa fa-caret-down"></i></a>
                </li>
                <ul class="remove">
                    <li><a href="#">Link 21</a></li>
                    <li><a href="#">Link 22</a></li>
                    <li><a href="#">Link 23</a></li>
                </ul> -->
            </ul>
        </div>
        <div id="page-content-wrapper">
            <div class="container-fluid">
                {%block content%}
                Hello world
                {%endblock%}
            </div>
        </div>
    </div>
            
        </nav>
    </div>
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"></script>
      <script>
        $("#menu-toggle").click(function(e){
            e.preventDefault();
            $("#wrapper").toggleClass("menuDisplayed");
            $("#page-content-wrapper").toggleClass("push");
        });
        var dropdown = document.getElementsByClassName("change");
        var i;
        for (i = 0; i < dropdown.length; i++) {
        dropdown[i].addEventListener("click", function() {
            // this.classList.toggle("active");
            var dropdownContent = this.nextElementSibling;
            if (dropdownContent.style.display === "block") {
            dropdownContent.style.display = "none";
            } else {
            dropdownContent.style.display = "block";
            }
        });}
        
        
    </script>
    

</body>
</html>