{% load static %}
<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Supermercado+One&display=swap" rel="stylesheet">
  <style>
    .dropdown-menu {      background-color: blanchedalmond;
    }

    .dropdown-menu li a:hover {
      background-color: rgb(144, 144, 221);
    }

    .homeUnderImg {
      font-family: 'Supermercado One', cursive;
      font-size: 35px;
    }

    .trendHead {
      margin-top: 20px;
      text-align: center;
    }
    /* #carsCol{
      color-scheme: white;
    } */
    .alert-danger, .alert-success{
      margin: 0px;
    }
    .nav-link{
      color: #FFFFFF;
    }
  </style>
  {%block imports%}{%endblock%}
  <title>{%block title%}{%endblock%}</title>
</head>

<body>
  <!-- START HERE  -->
  <nav class=" navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/"><h3>ExpMan</h3></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/posts">Posts</a>
          </li>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="/" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              About Us
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="/about_goals">Our Goals</a></li>
              <li><a class="dropdown-item" href="/about_team">Our Team</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="/about_us">About Us</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="contact">Contact Us</a>
          </li>
        </ul>

        <!-- OUR SEARCH BUTTON  -->
        <!-- <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search articles" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form> -->

<!-- OUR SIGNUP AND LOGIN BUTTONS -->
<div class="mx-2">
  {%if not request.user.is_authenticated%}
    <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#loginModal">Login</button>
    <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#signupModal">SignUp</button>
  {%else%}
    <a class="nav-link" href="/profile">Profile</a>
    <a class="nav-link" href="/logout">Logout</a>
  {%endif%}
  <!-- <button class="btn btn-danger" data-toggle="modal" data-target="#signupModal">SignUp</button> -->
  <!-- START FOR LOGIN -->
  <!-- Login trigger modal -->
  <!-- Modal -->
  <div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="loginModalLabel">Login to WEBSITE NAME</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <!-- POP UP FOR LOGIN PAGE  -->
          <form method="POST" action="{% url 'home' %}">
            <!-- FOR EMAIL ADDRESS  -->
            {%csrf_token%}
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label" name="">Email address</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="email">
              <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
            </div>
            <!-- FOR PASSWORD  -->
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label" >Password</label>
              <input type="password" class="form-control" id="exampleInputPassword1" name="password">
            </div>
            <!-- FOR CHECKBOX OF REMEMBER ME  -->
            <!-- TO SUBMIT DATA  -->
            <button type="submit" class="btn btn-primary" name="login">Submit</button>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  <!-- END FOR LOGIN -->
  <!-- START FOR SIGNUP  -->
  <div class="modal fade" id="signupModal" tabindex="-1" aria-labelledby="signupModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="signupModalLabel">Sign Up to WEBSITE NAME.</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <!-- POP UP FOR SIGNUP PAGE  -->
          <form method="POST" action="{% url 'home' %}">
            {%csrf_token%}
            <!-- FOR NAME  -->
            <div class="mb-3">
              <label for="exampleInputEmail1" required class="form-label">Your Name</label>
              <input type="text" class="form-control" id="textInput" name="username" required>
            </div>
            <!-- FOR EMAIL  -->
            <div class="mb-3">
              <label for="InputEmail1" class="form-label" >Email address</label>
              <input type="email" class="form-control" id="InputEmail1" aria-describedby="emailHelp" name="email" required>
              <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
            </div>
            <!-- FOR PASSWORD  -->
            <div class="mb-3">
              <label for="InputPassword1" class="form-label">Password</label>
              <input type="password" class="form-control" id="InputPassword1" name="password1" required>
            </div>
            <div class="mb-3">
              <label for="InputPassword2" class="form-label">Confirm Password</label>
              <input type="password" class="form-control" id="InputPassword2" name="password2" required>
            </div>
            <!-- TO SUBMIT DATA TO BACKEND TO SIGNUP  -->
            <button type="submit" class="btn btn-primary" name="signup">Submit</button>
          </form>
        </div>  
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  <!-- END FOR SIGNUP  -->
      </div>
    </div>
  </nav>
  {%if show%}
  {%if error%}
  <div class="alert alert-danger alter-dismissible fade show rmBorder" role="alert">
    {{ error }}
    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
  </div>
  {%elif success%}
  <div class="alert alert-success alter-dismissible fade show rmBorder" role="alert">
    Login/Sign up Successful
    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
  </div>
  {%endif%}
  {%endif%}
  {%block content%}{%endblock%}
  <!-- Optional JavaScript; choose one of the two! -->

  <!-- Option 1: Bootstrap Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"></script>

  <!-- Option 2: Separate Popper and Bootstrap JS -->
  <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    -->
</body>

</html>