{%extends 'index.html'%}
{% load static %}
{%block title%}Posts{%endblock%}
{%block imports%}
{%endblock%}
{%block content%}
<style>
    .searchPostBar {
        /* display: block; */
        width: 50%;
        margin: 20px auto;
        /* flex-direction: column; */
    }

    h1 {
        text-align: center;
    }
    #serBtn{
        margin-top: 10px;   
    }
    #ptContent{
        justify-content: space-around;
    }
    #readpost
    {
        max-height:10px;
    }
    /* p{
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
    } */
    .brt{
        display: inline;
        margin:0px 5px;
    }
</style>

<h1>Posts</h1>

<form class="searchPostBar" method="GET" action="{%url 'post'%}">
    <div class="form-group input-group">
        <input class="form-control me-2" type="search" placeholder="Search articles" aria-label="Search" name="search">
        <button class="btn btn-outline-success" type="submit" id="srch" name="searchb">Search</button>
    </div>
    
    <!-- RADIO BUTTON FOR SEARCH AS PER TAG OR TEXT  -->
    <div class="row mb-1" id="serBtn">
        <div class="col-md-12"><label class="labels">Search Using</label></div>
        <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
            <input type="radio" class="btn-check" name="using" id="serradio1" autocomplete="off" checked value="Text">
            <label class="btn btn-outline-primary" for="serradio1">Text</label>

            <input type="radio" class="btn-check" name="using" id="serradio2" autocomplete="off" value="Tags">
            <label class="btn btn-outline-primary" for="serradio2">Tags</label>

        </div>
    </div>
    <!-- OUR SEARCH BUTTON  -->
</form>
<div class="row mb-1" id="ptContent">
    {%if show%}
        <h1>You Searched for:{{show}}</h1>
    {%endif%}
    {%for post in posts%}
    <div class="col-md-10">
        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative"
            id="readPost">
            <div class="col p-4 d-flex flex-column position-static" id="ptContent"> 
                <b class="d-inline-block mb-2 text-danger">{{post.tags_set.all.0.tag}}</b>
                <b class="d-inline-block mb-2 text-warning">{{post.tags_set.all.1.tag}}</b>
                <b class="d-inline-block mb-2 text-success">{{post.tags_set.all.2.tag}}</b>
                
                <h3 class="mb-0">{{post.title}}</h3>

                <!-- RAJ WILL ENTER AUTHOR NAME HERE -->

                <div class="mb-1 text-muted">{{post.author.username}}</div>

                <!-- RAJ WILL ENTER AUTHOR NAME HERE ENDS. -->
                <div class="mb-1 text-muted">{{post.date_created}} IST</div>
                <p class="card-text mb-auto">{{post.content|safe|truncatechars:500}}</p>

                <!-- now user will click continue reading to redirect to that topic  -->
                <a href="/posts/{{post.id}}" class="stretched-links">Continue reading</a>
            </div>
            <div class="col-auto d-none d-lg-block">

            </div>
        </div>
    </div>
    {% empty %}
    No search results found
    {%endfor%}
</div>
{%endblock%}